#stafflist, #stafftitle, #stafftagline {
    text-align:center;
}

.header {
    margin-top: 15rem;
}

.staff{
    display:inline-block;
    margin-left: auto;
    margin-right: auto;

}

.staff img {
    max-width: 250px;
    /*max-height: 250px;*/
}

.staff .name {
    text-align: center;
}

.staff .tagline {
    text-align: center;
}