#list, #title, #tagline {
    text-align:center;
}

img.face {
    max-width: 250px;
    /*max-height: 250px;*/
}

img.rdj-logo {
    max-width: 200px;
    background-color: #222;
}

.name {
    text-align: center;
}

.user{
    display:inline-block;
    margin-left: auto;
    margin-right: auto;
    text-decoration:none;
    color:inherit;
}

@media
only screen and (max-width: 1000px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
    .header {
        margin-top: 5rem;
    }
}