#list, #title, #tagline {
    text-align:center;
}

img.face {
    max-width: 250px;
}

img.rdj-logo {
    max-width: 200px;
    background-color: #222;
}

.name {
    text-align: center;
}

.user{
    display:inline-block;
    margin-left: auto;
    margin-right: auto;
    text-decoration:none;
    color:inherit;
}

@media (max-width: 550px) {
    .user {
        margin-bottom:1rem;
        border-bottom:1px solid #ddd;
    }
}



