---
title: Tastybot
---
<section class="jumbotron">
    <h2>Tastybot</h2>
    <p>Here's a list of Tastybot's commands.  We try to update this list as commands change, but it's not always possible.  <br />
    Ask staff for help concerning commands!</p>
    <p>Parameters between &lt;&gt; are required, between [] are optional and | indicates "or". Ex: add|remove.</p>
</section>

{% for role in site.data.tastybot-commands.order %}{% if role %}
{% assign commands = site.data.tastybot-commands[role] %}
<h2 class="u-center">{{role}} commands</h2>
<table class="zebra-striped u-full-width commands">
    <thead>
        <tr>
            <th>Command</th>
            <th>Parameters</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% for command in commands %}
        <tr id="{{command.command}}">
            {% comment %} Command name, with its aliases on a line below when it has any. {% endcomment %}
            <td>
                <span class="command-name">!{{command.command}}</span>
                {% if command.aliases.size > 0 %}
                <span class="command-aliases">{% for alias in command.aliases %}!{{ alias | escape }}{% unless forloop.last %}, {% endunless %}{% endfor %}</span>
                {% endif %}
            </td>
            <td>{{command.args}}</td>
            <td>{{command.desc}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}{% endfor %}
{% comment %} Copyright year range: starts at 2026 and extends to the build year once it is later. {% endcomment %}
{% assign build_year = site.time | date: '%Y' %}
<p class="u-center">©2026{% if build_year != '2026' %}-{{ build_year }}{% endif %} Nodle. Based on the original Tastybot (2014-2020) by Fungus (Olivier Houle).</p>