---
title: Tastybot
---
<section class="jumbotron">
    <h2>Tastybot</h2>
    <p>Here's a list of Tastybot's commands.  We try to update this list as commands change, but it's not always possible.  <br />
    Ask staff for help concerning commands!</p>
    <p>Parameters between &lt;&gt; are required, between [] are optional and | indicates "or". Ex: add|remove.</p>
</section>

{% for role in site.data.tastybot-commands.order %}{% if role %}
{% assign commands = site.data.tastybot-commands[role] %}
<h2 class="u-center">{{role}} commands</h2>
<table class="zebra-striped u-full-width commands">
    <thead>
        <tr>
            <th>Command</th>
            <th>Parameters</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% for command in commands %}
        <tr id="{{command.command}}">
            <td>{{command.command}}</td>
            <td>{{command.args}}</td>
            <td>{{command.desc}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}{% endfor %}
<p class="u-center">©2014-{{ site.time | date: '%y' }} Fungus (Olivier Houle).</p>