---
layout: default
title: index (you're here)
---
<section class="jumbotron">
    <h1>Tastycat</h1>
</section>

<div class="row">

    <div class="one-half column news">
        <h3 class="u-center">News and Updates</h3>

        {% for post in site.posts limit:5 %}
        <div>
            <span>{{ post.date | date: "%B %e, %Y" }}</span>
            <h5><a href="{{ post.url }}">{{ post.title }}</a></h5>
        </div>
        {% endfor %}
        <p class="u-center"><a href="/posts">view all posts</a></p>
    </div>
    <div class="one-half column events">
        <h3 class="u-center">Events</h3>

        {% assign events = site.collections.events.docs | sort: 'date' | reverse %}
        {% for event in events limit:4 %}
        <a class="event u-cf" href="{{ event.url }}">
            <div class="event-name">
                <p>{{ event.title }}</p>
                <span>{{ event.date | date: "%B %e, %Y, %I:%M%P" }}</span>
            </div>
            {% for static_file in site.static_files %}
            {% capture image_url %}/images/events/{{ event.image }}{% endcapture %}
            {% if static_file.path == image_url %}
            {% assign customimage = true %}
            {% endif %}
            {% endfor %}
            <div class="event-logo u-pull-right">
                {% if customimage %}
                <img src="{{ image_url }}" href="{{ rdj.url }}"/>
                {% else %}
                <img src="/images/events/default.png" href="{{ rdj.url }}"/>
                {% endif %}
            </div>
            {% assign customimage = false %}
        </a>
        {% endfor %}
    </div>
</div>
<div class="row">
    <div class="one-half column u-center">
        <h3>Contact</h3>
        <p>contact us at <a href="mailto:tastycathq@gmail.com">tastycathq@gmail.com</a></p>
        <p>Feel free to check out our other social media...</p>
        <div class="social">
            <a href="https://www.facebook.com/TastycatPlugdj">Facebook</a>
            <a href="https://steamcommunity.com/groups/TastyCatHQ">Steam</a>
            <a href="https://twitter.com/TastycatHQ">Twitter</a>
        </div>
    </div>
    <div class="one-half column u-pull-right">
        <a class="twitter-timeline" href="https://twitter.com/TastycatHQ" data-widget-id="623166023504506881">Tweets by @TastycatHQ</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
</div>