---
---
<section class="jumbotron">
    <img src="{{ site.baseurl | prepend: site.url }}/images/tastycat.png">
</section>

<div class="row">
    <a class="typeform-share button" href="https://tastycat.typeform.com/to/n7Llfz" data-mode="1" target="_blank">Apply for bouncer!</a>
<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm_share',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>
</div>

<h1 class="u-center">Come play with us on <a href="https://plug.dj/tastycat">plug.dj</a>!</h1>
<h1 class="u-center">Join our <a href="https://discord.gg/0XrD4zABodgCIUzk">DISCORD</a> server.</h1>

<div class="row">
    <div class="one-half column news">
        <h3 class="u-center">News and Updates</h3>

        {% for post in site.posts limit:5 %}
        <div>
            <span>{{ post.date | date: "%B %e, %Y" }}</span>
            <h5><a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a></h5>
        </div>
        {% endfor %}
        <p class="u-center"><a href="{{ site.baseurl | prepend: site.url }}/news/#news">view all posts</a></p>
    </div>
    <div class="one-half column events">
        <h3 class="u-center">Events</h3>
        {% assign events = site.events | sort: 'date' | reverse %}
        {% for event in events limit:4 %}
        <a class="event u-cf" href="{{ event.url | prepend: site.baseurl | prepend: site.url }}">
            <div class="event-name">
                <p>{{ event.title }}</p>
                <span>{{ event.date | date: "%B %e, %Y, %I:%M%P" }}</span>
            </div>
            {% for static_file in site.static_files %}
            {% capture image_url %}/images/events/thumb/{{ event.image }}{% endcapture %}
            {% if static_file.path == image_url %}
            {% assign customimage = true %}
            {% endif %}
            {% endfor %}
            <div class="event-logo u-pull-right">
                {% if customimage %}
                <img src="{{ image_url | prepend: site.baseurl | prepend: site.url }}"/>
                {% else %}
                <img src="{{ site.baseurl | prepend: site.url }}/images/events/thumb/default.png"/>
                {% endif %}
            </div>
            {% assign customimage = false %}
        </a>
        {% endfor %}
        <p id="all-events" class="u-center"><a href="{{ site.baseurl | prepend: site.url }}/news/#events">view all events</a></p>
    </div>
</div>
<hr />
<div class="row">
    <div class="u-full-width u-center">
        <h3>Contact</h3>
        <p>contact us at <a href="mailto:tastycathq@gmail.com">tastycathq@gmail.com</a></p>
        <p>Feel free to check out our other social media.</p>
        <div class="social">
            <a href="https://www.facebook.com/TastycatPlugdj">Facebook</a>
            <a href="https://steamcommunity.com/groups/TastyCatHQ">Steam</a>
            <a href="https://twitter.com/TastycatHQ">Twitter</a>
            <a href="https://www.youtube.com/channel/UCKp05nVAaMZfjo7_W2y2n8g">YouTube</a>
            <a href="https://soundcloud.com/tastycat">Soundcloud</a>
        </div>
    </div>
</div>
