<header class="u-full-width u-center">
    <!-- Site navigation around the centred Home link. News shows only when there are posts or events. -->
    <ul id="navbar" class="u-center">
        <li><a href="{{ site.baseurl | prepend: site.url }}/rules/">Rules</a></li>
        <li><a href="{{ site.baseurl | prepend: site.url }}/rules/#faq">FAQ</a></li>
        <li class="home"><a href="{{ site.baseurl | prepend: site.url }}/">Home</a></li>
        {% if site.posts.size > 0 or site.events.size > 0 %}
        <li><a href="{{ site.baseurl | prepend: site.url }}/news/">News</a></li>
        {% endif %}
        <li><a href="{{ site.baseurl | prepend: site.url }}/tastybot/">Tastybot</a></li>
    </ul>
</header>
