---
layout: userlist
title: Staff
---
<section class="header">
<h2 id="stafftitle">We are Tastycat</h2>
<p id="stafftagline">We're volunteers that manage the chat / events / everything related to the community.   Our team consists of the some older plug.dj users as well as the new faces  that we've accepted to help make the Tastycat community a better place for anyone!</p>
</section>


<div id="list">
    {% for staff in site.collections.staff.docs %}

    <a class="user" href="{{ staff.url }}">
        {% comment %} See if the rdj's custom image exists{% endcomment %}
        {% for static_file in site.static_files %}
        {% capture image_url %}/images/staff/{{ staff.id }}.jpg{% endcapture %}
        {% if static_file.path == image_url %}
        {% assign customimage = true %}
        {% endif %}
        {% endfor %}

        {% if customimage %}
        <img class="face" src="{{ image_url }}" href="{{ staff.url }}"/>
        {% else %}
        <img class="face" src="/images/staff/default.jpg" href="{{ staff.url }}"/>
        {% endif %}
        {% assign customimage = false %}
        <h3 class="name">{{ staff.name }}</h3>
    </a>
    {% endfor %}
</div>
