---
title: Staff
---
<section class="jumbotron">
<h2 id="title">We are Tastycat</h2>
<p id="tagline">We're volunteers that manage the chat / events / everything related to the community.   Our team consists of the some older plug.dj users as well as the new faces  that we've accepted to help make the Tastycat community a better place for anyone!</p>
</section>


<div id="userlist" class="u-center">
    {% for staff in site.staff %}
    <a class="user" href="{{ staff.url | prepend: site.baseurl | prepend: site.url }}">
        {% comment %} See if the rdj's custom image exists{% endcomment %}
        {% for static_file in site.static_files %}
        {% capture image_url %}/images/staff/{{ staff.slug }}.jpg{% endcapture %}
        {% if static_file.path == image_url %}
        {% assign customimage = true %}
        {% endif %}
        {% endfor %}

        {% if customimage %}
        <img class="face" src="{{ image_url | prepend: site.baseurl | prepend: site.url }}"/>
        {% else %}
        <img class="face" src="{{ site.baseurl | prepend: site.url }}/images/staff/default.jpg"/>
        {% endif %}
        {% assign customimage = false %}
        <h3 class="u-center">{{ staff.name }}</h3>
    </a>
    {% endfor %}
</div>

<div class="col-md-12">
    <div class="btn-box"> <a class="typeform-share button" href="https://tastycat.typeform.com/to/n7Llfz" data-mode="1" target="_blank">Apply for bouncer!</a>
        <style>
            .btn-box{
                display: inline-block;
            }
            .col-md-12 {
                text-align: center;
            }
            .typeform-share.button {
                background: #AC76FF;
                color: #fff;
                font-family:"Raleway", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-weight: 700;
                font-size: 20px;
                line-height: 15px;
                text-transform: uppercase;
                letter-spacing: 1px;
                margin-right: 15px;
                margin-bottom: 15px;
                border-radius: 5px;
                display: inline-block;
                padding: 14px 50px 25px 50px;
                border:2px solid;
                border-color: #AC76FF;
            }
            .typeform-share.button:hover {
                background-image:none;
                background:#fff;
                color: #AC76FF;
                border-color: #fff;
                .wrapper {
                    text-align: center;
                }
                .typeform-share.button {
                    position: absolute;
                    top: 50%;
                }
        </style>
<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm_share',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>
    </div>
</div>
