<!DOCTYPE html>
<html>
<head>
    {% include head.html %}
</head>
<body>
{% include header.html %}

<div class="container">
    <section class="jumbotron">
        <h2>{{ page.title }}</h2>
    </section>

    <div class="row">
        <div id="content" class="one-half column">{{ content }}</div>
        <div id="showcase" class="one-half column"></div>

    </div>
</div>
<script type="text/javascript" src="/js/embed-soundcloud.js" onload="embedSoundcloud('{{ page.soundcloud }}')"></script>
</body>
</html>