<!DOCTYPE html>
<html>
<head>
    {% include head.html %}
</head>
<body>
{% include header.html %}

<div class="container">
    <section class="jumbotron">
        <h2>{{ page.title }}</h2>
        <p>{{ page.date | date: "%B %e, %Y, %I:%M%P" }}</p>
    </section>
    {{ content }}
    {% for static_file in site.static_files %}
    {% capture image_url %}/images/events/{{ page.image }}{% endcapture %}
    {% if static_file.path == image_url %}
    {% assign customimage = true %}
    {% endif %}
    {% endfor %}
    {% if customimage %}
    <div class="u-center"><img id="event-logo" src="{{ image_url }}" href="{{ page.image }}"/></div>
    {% endif %}
</div>
</body>
</html>